# Minimum required environment variables for hcp-vault-demo deployment

# AWS provider authentication
export AWS_ACCESS_KEY_ID="<aws-access-key-id>"
export AWS_SECRET_ACCESS_KEY="<aws-secret-access-key>"
export AWS_REGION="us-east-1"
# export AWS_SESSION_TOKEN="<aws-session-token>"  # only for temporary credentials

# HCP Prod project provider authentication
export HCP_CLIENT_ID="<hcp-prod-client-id>"
export HCP_CLIENT_SECRET="<hcp-prod-client-secret>"
export TF_VAR_project_id="<hcp-prod-project-id>"

# HCP Non Prod project provider authentication
# Uncomment these values when deploying non-prod.
# export HCP_CLIENT_ID="<hcp-non-prod-client-id>"
# export HCP_CLIENT_SECRET="<hcp-non-prod-client-secret>"
# export TF_VAR_project_id="<hcp-non-prod-project-id>"
