# -----------------------------------------------------------------------------
# PROD EXAMPLE (workspace: prod)
# -----------------------------------------------------------------------------
project_id = "<hcp-project-id>"
cloud_provider = "aws"

topology_scenario  = "prod"
enable_hvn_peering = true

cluster_configs = {
  cluster_1 = {
    hvn_id     = "vault-c1-hvn"
    hvn_region = "southeastasia"
    hvn_cidr   = "172.25.16.0/24"
    cluster_id = "vault-prod-c1-primary"
    tier       = "plus_small"
    tgw_attachment_id = "c1-to-aws-tgw"
    peering_id = "c1-to-azure-peering"
    route_id   = "c1-to-azure-nva"
  }
  cluster_2 = {
    hvn_id     = "vault-c2-hvn"
    hvn_region = "japaneast"
    hvn_cidr   = "172.26.16.0/24"
    cluster_id = "vault-prod-c2-secondary"
    tgw_attachment_id = "c2-to-aws-tgw"
    peering_id = "c2-to-azure-peering"
    route_id   = "c2-to-azure-nva"
  }
  cluster_3 = {
    hvn_id     = "vault-c3-hvn"
    hvn_region = "northeurope"
    hvn_cidr   = "172.27.16.0/24"
    cluster_id = "vault-prod-c3-secondary"
    tier       = "plus_small"
    tgw_attachment_id = "c3-to-aws-tgw"
    peering_id = "c3-to-azure-peering"
    route_id   = "c3-to-azure-nva"
  }
  cluster_4 = {
    hvn_id     = "vault-c4-hvn"
    hvn_region = "francecentral"
    hvn_cidr   = "172.28.16.0/24"
    cluster_id = "vault-prod-c4-secondary"
    tgw_attachment_id = "c4-to-aws-tgw"
    peering_id = "c4-to-azure-peering"
    route_id   = "c4-to-azure-nva"
  }
  cluster_5 = {
    hvn_id     = "vault-c5-hvn"
    hvn_region = "eastus"
    hvn_cidr   = "172.29.16.0/24"
    cluster_id = "vault-prod-c5-secondary"
    tier       = "plus_small"
    tgw_attachment_id = "c5-to-aws-tgw"
    peering_id = "c5-to-azure-peering"
    route_id   = "c5-to-azure-nva"
  }
  cluster_6 = {
    hvn_id     = "vault-c6-hvn"
    hvn_region = "centralus"
    hvn_cidr   = "172.30.16.0/24"
    cluster_id = "vault-prod-c6-secondary"
    tgw_attachment_id = "c6-to-aws-tgw"
    peering_id = "c6-to-azure-peering"
    route_id   = "c6-to-azure-nva"
  }
}

# Used when cloud_provider = "aws"
aws_region_connectivity = {
  cluster_1 = {
    transit_gateway_id = "<tgw-region-1-id>"
    resource_share_arn = "<tgw-region-1-share-arn>"
    destination_cidr   = "10.20.0.0/24"
  }
  cluster_2 = {
    transit_gateway_id = "<tgw-region-2-id>"
    resource_share_arn = "<tgw-region-2-share-arn>"
    destination_cidr   = "10.21.0.0/24"
  }
  cluster_3 = {
    transit_gateway_id = "<tgw-region-3-id>"
    resource_share_arn = "<tgw-region-3-share-arn>"
    destination_cidr   = "10.22.0.0/24"
  }
  cluster_4 = {
    transit_gateway_id = "<tgw-region-4-id>"
    resource_share_arn = "<tgw-region-4-share-arn>"
    destination_cidr   = "10.23.0.0/24"
  }
  cluster_5 = {
    transit_gateway_id = "<tgw-region-5-id>"
    resource_share_arn = "<tgw-region-5-share-arn>"
    destination_cidr   = "10.24.0.0/24"
  }
  cluster_6 = {
    transit_gateway_id = "<tgw-region-6-id>"
    resource_share_arn = "<tgw-region-6-share-arn>"
    destination_cidr   = "10.25.0.0/24"
  }
}

# Used when cloud_provider = "azure"
azure_region_connectivity = {
  cluster_1 = {
    destination_cidr         = "10.20.0.0/24"
    peer_vnet_name           = "vnet-sea"
    peer_subscription_id     = "<azure-subscription-id>"
    peer_tenant_id           = "<azure-tenant-id>"
    peer_resource_group_name = "rg-network-sea"
    peer_vnet_region         = "southeastasia"
    allow_forwarded_traffic  = true
    use_remote_gateways      = false
  }
  cluster_2 = {
    destination_cidr         = "10.21.0.0/24"
    peer_vnet_name           = "vnet-jpe"
    peer_subscription_id     = "<azure-subscription-id>"
    peer_tenant_id           = "<azure-tenant-id>"
    peer_resource_group_name = "rg-network-jpe"
    peer_vnet_region         = "japaneast"
    allow_forwarded_traffic  = true
    use_remote_gateways      = false
  }
  cluster_3 = {
    destination_cidr         = "10.22.0.0/24"
    peer_vnet_name           = "vnet-neu"
    peer_subscription_id     = "<azure-subscription-id>"
    peer_tenant_id           = "<azure-tenant-id>"
    peer_resource_group_name = "rg-network-neu"
    peer_vnet_region         = "northeurope"
    allow_forwarded_traffic  = true
    use_remote_gateways      = false
  }
  cluster_4 = {
    destination_cidr         = "10.23.0.0/24"
    peer_vnet_name           = "vnet-frc"
    peer_subscription_id     = "<azure-subscription-id>"
    peer_tenant_id           = "<azure-tenant-id>"
    peer_resource_group_name = "rg-network-frc"
    peer_vnet_region         = "francecentral"
    allow_forwarded_traffic  = true
    use_remote_gateways      = false
  }
  cluster_5 = {
    destination_cidr         = "10.24.0.0/24"
    peer_vnet_name           = "vnet-eus"
    peer_subscription_id     = "<azure-subscription-id>"
    peer_tenant_id           = "<azure-tenant-id>"
    peer_resource_group_name = "rg-network-eus"
    peer_vnet_region         = "eastus"
    allow_forwarded_traffic  = true
    use_remote_gateways      = false
  }
  cluster_6 = {
    destination_cidr         = "10.25.0.0/24"
    peer_vnet_name           = "vnet-cus"
    peer_subscription_id     = "<azure-subscription-id>"
    peer_tenant_id           = "<azure-tenant-id>"
    peer_resource_group_name = "rg-network-cus"
    peer_vnet_region         = "centralus"
    allow_forwarded_traffic  = true
    use_remote_gateways      = false
  }
}

vault_public_endpoint = true
vault_proxy_endpoint  = "DISABLED"
vault_ip_allowlist    = []

# -----------------------------------------------------------------------------
# NON-PROD EXAMPLE (workspace: non-prod)
# -----------------------------------------------------------------------------
# project_id         = "<hcp-non-prod-project-id>"
# cloud_provider     = "aws"
# topology_scenario  = "non-prod"
# enable_hvn_peering = true
#
# cluster_configs = {
#   cluster_1 = {
#     hvn_id     = "vault-c1-hvn"
#     hvn_region = "ap-southeast-1"
#     hvn_cidr   = "172.25.16.0/24"
#     cluster_id = "vault-nonprod-c1-primary"
#     tier       = "plus_small"
#     tgw_attachment_id = "c1-to-aws-tgw"
#     peering_id = "c1-to-azure-peering"
#     route_id   = "c1-to-network"
#   }
#   cluster_2 = {
#     hvn_id     = "vault-c2-hvn"
#     hvn_region = "ap-northeast-1"
#     hvn_cidr   = "172.28.16.0/24"
#     cluster_id = "vault-nonprod-c2-secondary"
#     tgw_attachment_id = "c2-to-aws-tgw"
#     peering_id = "c2-to-azure-peering"
#     route_id   = "c2-to-network"
#   }
# }
#
# aws_region_connectivity = {
#   cluster_1 = {
#     transit_gateway_id = "<tgw-region-1-id>"
#     resource_share_arn = "<tgw-region-1-share-arn>"
#     destination_cidr   = "10.20.0.0/24"
#   }
#   cluster_2 = {
#     transit_gateway_id = "<tgw-region-2-id>"
#     resource_share_arn = "<tgw-region-2-share-arn>"
#     destination_cidr   = "10.21.0.0/24"
#   }
# }
#
# azure_region_connectivity = {
#   cluster_1 = {
#     destination_cidr         = "10.20.0.0/24"
#     peer_vnet_name           = "vnet-sea"
#     peer_subscription_id     = "<azure-subscription-id>"
#     peer_tenant_id           = "<azure-tenant-id>"
#     peer_resource_group_name = "rg-network-sea"
#     peer_vnet_region         = "southeastasia"
#   }
#   cluster_2 = {
#     destination_cidr         = "10.21.0.0/24"
#     peer_vnet_name           = "vnet-jpe"
#     peer_subscription_id     = "<azure-subscription-id>"
#     peer_tenant_id           = "<azure-tenant-id>"
#     peer_resource_group_name = "rg-network-jpe"
#     peer_vnet_region         = "japaneast"
#   }
# }
