# -----------------------------------------------------------------------------
# PROD EXAMPLE (workspace: prod)
# -----------------------------------------------------------------------------
project_id = "<hcp-project-id>"

topology_scenario  = "prod"
enable_hvn_peering = true

cluster_configs = {
  cluster_1 = {
    hvn_id            = "vault-c1-hvn"
    hvn_region        = "ap-southeast-1"
    hvn_cidr          = "172.25.16.0/24"
    cluster_id        = "vault-prod-c1-primary"
    tier              = "plus_small"
    tgw_attachment_id = "c1-to-aws-tgw"
    route_id          = "c1-to-aws-vpc"
  }
  cluster_2 = {
    hvn_id            = "vault-c2-hvn"
    hvn_region        = "eu-west-1"
    hvn_cidr          = "172.26.16.0/24"
    cluster_id        = "vault-prod-c2-pr"
    tier              = "plus_small"
    tgw_attachment_id = "c2-to-aws-tgw"
    route_id          = "c2-to-aws-vpc"
  }
  cluster_3 = {
    hvn_id            = "vault-c3-hvn"
    hvn_region        = "us-east-1"
    hvn_cidr          = "172.27.16.0/24"
    cluster_id        = "vault-prod-c3-pr"
    tier              = "plus_small"
    tgw_attachment_id = "c3-to-aws-tgw"
    route_id          = "c3-to-aws-vpc"
  }
  cluster_4 = {
    hvn_id            = "vault-c4-hvn"
    hvn_region        = "ap-northeast-1"
    hvn_cidr          = "172.28.16.0/24"
    cluster_id        = "vault-prod-c4-dr"
    tier              = "plus_small"
    tgw_attachment_id = "c4-to-aws-tgw"
    route_id          = "c4-to-aws-vpc"
  }
  cluster_5 = {
    hvn_id            = "vault-c5-hvn"
    hvn_region        = "eu-west-2"
    hvn_cidr          = "172.29.16.0/24"
    cluster_id        = "vault-prod-c5-dr"
    tier              = "plus_small"
    tgw_attachment_id = "c5-to-aws-tgw"
    route_id          = "c5-to-aws-vpc"
  }
  cluster_6 = {
    hvn_id            = "vault-c6-hvn"
    hvn_region        = "us-east-2"
    hvn_cidr          = "172.30.16.0/24"
    cluster_id        = "vault-prod-c6-dr"
    tier              = "plus_small"
    tgw_attachment_id = "c6-to-aws-tgw"
    route_id          = "c6-to-aws-vpc"
  }
}

aws_region_connectivity = {
  cluster_1 = {
    transit_gateway_id = "<tgw-region-1-id>"
    resource_share_arn = "<tgw-region-1-share-arn>"
    destination_cidr   = "10.20.0.0/24"
  }
  cluster_2 = {
    transit_gateway_id = "<tgw-region-2-id>"
    resource_share_arn = "<tgw-region-2-share-arn>"
    destination_cidr   = "10.21.0.0/24"
  }
  cluster_3 = {
    transit_gateway_id = "<tgw-region-3-id>"
    resource_share_arn = "<tgw-region-3-share-arn>"
    destination_cidr   = "10.22.0.0/24"
  }
  cluster_4 = {
    transit_gateway_id = "<tgw-region-4-id>"
    resource_share_arn = "<tgw-region-4-share-arn>"
    destination_cidr   = "10.23.0.0/24"
  }
  cluster_5 = {
    transit_gateway_id = "<tgw-region-5-id>"
    resource_share_arn = "<tgw-region-5-share-arn>"
    destination_cidr   = "10.24.0.0/24"
  }
  cluster_6 = {
    transit_gateway_id = "<tgw-region-6-id>"
    resource_share_arn = "<tgw-region-6-share-arn>"
    destination_cidr   = "10.25.0.0/24"
  }
}

vault_public_endpoint = true
vault_proxy_endpoint  = "DISABLED"
vault_ip_allowlist    = []

# -----------------------------------------------------------------------------
# NON-PROD EXAMPLE (workspace: non-prod)
# -----------------------------------------------------------------------------
# project_id         = "<hcp-non-prod-project-id>"
# topology_scenario  = "non-prod"
# enable_hvn_peering = true
#
# cluster_configs = {
#   cluster_1 = {
#     hvn_id            = "vault-c1-hvn"
#     hvn_region        = "ap-southeast-1"
#     hvn_cidr          = "172.25.16.0/24"
#     cluster_id        = "vault-nonprod-c1-primary"
#     tier              = "plus_small"
#     tgw_attachment_id = "c1-to-aws-tgw"
#     route_id          = "c1-to-aws-vpc"
#   }
#   cluster_2 = {
#     hvn_id            = "vault-c2-hvn"
#     hvn_region        = "ap-northeast-1"
#     hvn_cidr          = "172.28.16.0/24"
#     cluster_id        = "vault-nonprod-c2-dr"
#     tier              = "plus_small"
#     tgw_attachment_id = "c2-to-aws-tgw"
#     route_id          = "c2-to-aws-vpc"
#   }
# }
#
# aws_region_connectivity = {
#   cluster_1 = {
#     transit_gateway_id = "<tgw-region-1-id>"
#     resource_share_arn = "<tgw-region-1-share-arn>"
#     destination_cidr   = "10.20.0.0/24"
#   }
#   cluster_2 = {
#     transit_gateway_id = "<tgw-region-2-id>"
#     resource_share_arn = "<tgw-region-2-share-arn>"
#     destination_cidr   = "10.21.0.0/24"
#   }
# }
